[Unit]
Description=Polkadot Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
  --validator \
  --execution wasm \
  --wasm-execution compiled \
  --port 30333 \
  --rpc-port 9933 \
  --ws-port 9944 \
  --pruning=archive \
  --state-cache-size 1 \
  {% if hostvars[inventory_hostname].basePath is defined and hostvars[inventory_hostname].basePath|length %}
  --base-path '{{ hostvars[inventory_hostname].basePath }}' \
  {% endif %}
  --chain={{ chain }} \
  {% if hostvars[inventory_hostname].nodeName is defined and hostvars[inventory_hostname].nodeName|length %}
  --name "{{ project|default('project') }} ॐ {{ hostvars[inventory_hostname].nodeName }}" \
  {% else %}
  --name "{{ project|default('project') }} - {{ groups['validator'].index(inventory_hostname) }}"" \
  {% endif %}
  {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
  --telemetry-url '{{ hostvars[inventory_hostname].telemetryUrl }} 1' \
  {% else %}
  --no-telemetry \
  {% endif %}
  -- \
  --execution wasm \
  --wasm-execution compiled \
  --port 30334 \
  --rpc-port 9934 \
  --ws-port 9945 \
  --pruning=archive \
  {% if hostvars[inventory_hostname].nodeName is defined and hostvars[inventory_hostname].nodeName|length %}
  --name "{{ project|default('project') }} ॐ {{ hostvars[inventory_hostname].nodeName }} (Embedded Relay)" \
  {% else %}
  --name "{{ project|default('project') }} - {{ groups['validator'].index(inventory_hostname) }} (Embedded Relay)" \
  {% endif %}
  {% if hostvars[inventory_hostname].telemetryUrl is defined and hostvars[inventory_hostname].telemetryUrl|length %}
  --telemetry-url '{{ hostvars[inventory_hostname].telemetryUrl }} 1' \
  {% else %}
  --no-telemetry \
  {% endif %}

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
